/* ==== GENERAL ==== */

body{
	/* make space for the fixed nav bar */
	overflow-x:hidden;
	
}
body.fixed-navbar{
	padding-top:50px;
	@media (min-width: 768px){
		padding-top:50px;
		&.admin-bar{
			.navbar-fixed-top{
				margin-top:32px;
			}
		}
	}
}

/* Image formatting */

img{
	max-width: 100%;
	height:auto;
	&.alignleft{
		float:left;
	}
}

.entry-content{
	img{
		&.alignleft{
			margin:7px 10px 10px 0px;
		}
	}
}

.fluid-width-image{
	background-position: center;
	background-size: cover;
	height:345px;
	position:relative;
	&.parallax-background{
		background-attachment:fixed;
	}
}


/* Breadcrumb defaults */

.breadcrumb > li + li:before {
    content: "/";
}
